
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.project button{
    border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
}

.site-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.site-header li{
    display:inline-block;
    list-style: none;
    grid-column: 3/4;
}

.page-header{
    text-align: center;
}

.site-footer{
    display: flex;
    
}

#name{
    display: flex;
}