
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.site-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.site-header li{
    display:inline-block;
    list-style: none;
    grid-column: 3;
}

#name{
    display: flex;
}