
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.site-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.site-header li{
    display:inline-block;
    list-style: none;
    grid-column-start: 3;
    grid-column-end: 4;
}

#name{
    display: flex;
}